
.container-fluid {
    margin-left: 20% auto;
}

footer {
    text-align: center; 
    margin-left: 10%; 
    margin-right: 10%; 
    margin-bottom: 30px;

    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1.2rem;

    margin-top: 15px;
}


header .header-text {
    font-size: 2rem;
    text-align: center; 
    margin-left: 10%; 
    margin-right: 10%; 
    font-weight: bolder;

    background-color: black;
    color: white;
    padding: 20px 20px 20px 20px;
}

header .img-header {
    width: 100%;
    height: 300px;
}

header .header-imagem {
    text-align: center; 
    margin-left: 10%; 
    margin-right: 10%; 

    background-color: #0d6efd;
    color: white;

    margin-bottom: 30px;
}


.visible {
        visibility: visible !important;
}
.invisible {
    visibility: hidden !important;
 }
